.foto{
    width: 100%;
    height: 150%;
}
.container{
    display: flex;
    justify-content: center;
    background-color: bisque;
}
.example-card {
    max-width: 400px;
    min-width: 200px;
  }
  
  .example-header-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-652db.appspot.com/o/Foto-CV-Gonza-Iglesias.png?alt=media&token=bf541720-bf5a-403b-bd0e-f124eba6c161');
    background-size: cover;
  }