<mat-sidenav-container class="nav">
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content id="navs"><h1>SALA DE JUEGOS</h1>
      <div >
          <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Features</a>
              </li>
              <li>
                <a href="#">Pricing</a>
              </li>
              <li>
                <a href="#">Disabled</a>
              </li>
            </ul>
      </div>
  </mat-sidenav-content>
  <section>Main</section>        
</mat-sidenav-container>
<div class="container">
  <div class="quiensoy">
    <button class="bottom" mat-fab extended (click)="quiensoy()" > <mat-icon>person</mat-icon>Quien Soy</button> <!--routerLink="quiensoy"-->
  </div>
</div>



<router-outlet />
