.container{
    height: 100%;
    width: 100%;
    display: flex;
    background-image:url('https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-652db.appspot.com/o/fondoJuegos.jfif?alt=media&token=2911e8e7-7b7b-44f7-aeb2-e5311b40ed93') ;
    /* background: url('https://firebasestorage.googleapis.com/v0/b/sala-de-juegos-652db.appspot.com/o/fondoJuegos.jfif?alt=media&token=2911e8e7-7b7b-44f7-aeb2-e5311b40ed93'); */
}
#navs{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: black;
    color: red;
}

ul{
    display: flex;
    list-style-type: none;
    border-radius: 5px;
    color: red;
}

ul li a{
    text-decoration: none;
    margin: 5px 10px;
    color: red;
}

.bottom{
    background-color: red;
}

.quiensoy{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
